<b><font color="red" size="6">ch03. 데이터 구조</font></b>
- `리스트[]`, `튜플()`, `딕셔너리(hashMap과 유사)`, `셋`

# 1절. List

## 1.1 List 만들기
- `[]를 이용해서 만들며, 여러 개 값을 하나의 변수에 저장/관리할 수 있음`
- list() 함수 이용도 가능
- 인덱스: 각 요소의 위치. 인덱스는 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱([from:to:by]): 부분 데이터셋을 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기를 지원

In [5]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [6]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [7]:
print(fruits[0])

banana

In [8]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [10]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print("x = {}".format(x))
print("y = {}".format(y))
print("z = {}".format(z))

x = mango
y = apple
z = orange

In [11]:
# range(from, to, by): from부터 to앞까지 by씩 증가하면서 지정된 범위의 
                    # 숫자를 순차적으로 사용할 수 있게 
                    # from 생략 시 0, by 생략 시 1
range(10)

range(0, 10)

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [16]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [17]:
for i in [0, 1, 2]: 
    print(i)

0
1
2

In [18]:
for i in range(3): 
    print(i)# 0~2

0
1
2

In [19]:
# sol 1
for fruit in fruits:
    print(fruit)

mango
apple
orange

In [21]:
# sol 2
fruits = ['mango', 'apple', 'orange', 'banana']
for idx in range(len(fruits)):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 banana

In [23]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'banana')]

In [27]:
# sol 3
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}".format(idx, value))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 banana

In [28]:
for idx, value in enumerate(fruits):
    print(idx, value)

0 mango
1 apple
2 orange
3 banana

In [30]:
numbers = [ 1, 2, 3, '4', True, [1, 2, 3] ]
numbers

[1, 2, 3, '4', True, [1, 2, 3]]

In [32]:
# 2차원 리스트(list안의 list)
numbers_2d = [ [1, 2, 3, 4, 5], 
               [11, 12, 13, 14, 15],
               [91, 92, 93, 94, 95] ]
len(numbers_2d), len(numbers_2d[0]) # 리스트 갯수

(3, 5)

In [34]:
numbers_2d[1][1]

12

In [43]:
for i in range(len(numbers_2d)):
    for j in range(len(numbers_2d[i])):
        print("{}행{}열: {}".format(i, j, numbers_2d[i][j]), end='\t')
    print() # 개행

0행0열: 1	0행1열: 2	0행2열: 3	0행3열: 4	0행4열: 5
1행0열: 11	1행1열: 12	1행2열: 13	1행3열: 14	1행4열: 15
2행0열: 91	2행1열: 92	2행2열: 93	2행3열: 94	2행4열: 95

## 1.2 기본 정보 조회

In [55]:
numbers    = [ 1, 12, 3, 4, 5 ]
numbers_2d = [ [100, 0, 1, 2, 3],
               [9, 100, 110, 102, 130],
               [59, 100, 130] ]

In [56]:
# 요소의 수
print(len(numbers), len(numbers_2d))

5 3

In [57]:
# 최솟값, 최댓값
min(numbers), max(numbers)

(1, 12)

In [59]:
# 2차원 list의 min(): 부분 리스트 중에서 첫요소가 가장 작은 값
#             max(): 부분 리스트 중에서 첫요소가 가장 큰 값
min(numbers_2d), max(numbers_2d)

([9, 100, 110, 102, 130], [100, 0, 1, 2, 3])

In [60]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min(), max() 적용
fruits = ['mango', 'banana', 'orange']
min(fruits), max(fruits)

('banana', 'orange')

In [69]:
# 정렬하기
numbers = [1, 12, 3, 14, 5]
print('원 리스트    : ', numbers)
print('오름차순 정렬: ', sorted(numbers))
print('내림차순 정렬: ', sorted(numbers, reverse=True))
print('합          : ', sum(numbers))
print('sorted 함수 사용시 리스트 내용이 바뀌지 않음: ', numbers)

원 리스트    :  [1, 12, 3, 14, 5]
오름차순 정렬:  [1, 3, 5, 12, 14]
내림차순 정렬:  [14, 12, 5, 3, 1]
합          :  35
sorted 함수 사용시 리스트 내용이 바뀌지 않음:  [1, 12, 3, 14, 5]

## 1.3 요소 추가

In [ ]:
# +              : 두 리스트 연결
# *              : 리스트를 곱한 수만큼 반복
# append()       : 요소 맨 뒤에 추가
# extend()       : 리스트를 요소별로 맨 뒤에 추가
# insert(idx, 값): idx번째 인덱스 위치에 값 추가

In [1]:
numbers = [1,2,3]
numbers = numbers + numbers #리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [2]:
numbers = [1,2,3]
print(3 * numbers) #곱한 수 만큼 list 반복
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [3]:
numbers.append(4) # 인덱스에 4를 추가
numbers

[1, 2, 3, 4]

In [4]:
numbers.append([5,6,7]) # 2중 인덱스 추가
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [5]:
num = [1, 2, 3]
num.extend([4,5,6])
num

[1, 2, 3, 4, 5, 6]

In [6]:
lst = ['a','b','c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [8]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [9]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [1]:
numbers = [1,2,3,4,5]
numbers.insert(1, 'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- count(찾을데이터) : 리스트에서 데이터의 갯수 반환

In [2]:
numbers = [1, 2, 3, [1,2,3,], 1, 2, 3]

In [3]:
numbers.count(2)

2

In [4]:
numbers.count(9)

0

In [5]:
9 in numbers # 9가 numbers의 요소인지 여부

False

In [6]:
numbers = [1, 2, 3, [1,2,3,], 1, 2, 3]
numbers.index(2) # 처음(0인덱스)부터 2가 나오는 인덱스 번호를 반환

1

In [7]:
numbers.index(2, 2) # 2번 index 부터 value 값 2를 찾는다 (value, start값)

5

In [9]:
# 특정(numbers) index List 요소에 있는지 여부 검사 
print(numbers.count(9))
print(9 in numbers)

0
False

In [10]:
numbers.index(9)

ValueError: 9 is not in list

In [11]:
if 9 in numbers:
    print(numbers.index(9))
else:
    print('9가 요소에 포함되어있지 않습니다.')

9가 요소에 포함되어있지 않습니다.

In [12]:
def safe_index(lst, item):
    if item in lst:
        return lst.index(item)
    else:
        return -1

In [15]:
def safe_index(lst, item):
    return lst.index(item) if item in lst else -1

In [13]:
safe_index(numbers, 9)

-1

In [ ]:
numbers[20] # 벗어난 인덱싱시 에러 발생

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : list 에서 원하는 index의 데이터를 추출 
- `인덱스의 범위를 벗어난 값도 에러나지 않음`
- [from:stop:step] from부터 stop 앞까지 step씩 증가하는 index값 추출
- `from 생략 시 처음, stop 생략 시 끝, step 생략 시 1. 모두 생략 가능`
- 인덱스는 음수 가능 <br>
2. <b> `리스트 컴프리헨션`</b> : list에서 원하는 데이터 추출

In [22]:
numbers = [1,3,5,9,10,12,13,18,19,20]
# 반대로 출력
print(numbers[::-1])
print(numbers[0:10:2])
print(numbers[0:100])

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [24]:
# 리스트 컴프리헨션을 이용해서 list의 원하는 데이터 액세스
numbers = [1,3,5,9,10,12,13,18,19,20]
# 모든 데이터 추출

# for data in numbers:
#    print(data, end='\t')
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [28]:
# 짝수 데이터 추출

# for data in numbers:
#     if data%2==0:
#         print(data, end='\t')
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [47]:
# ex1.numbers에서 10이상의 요소만 추출
[i for i in numbers if i>=10]

[10, 12, 13, 18, 19, 20]

In [50]:
#  ex2.fruits 에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>4]

['orange', 'apple', 'mango']

In [51]:
# ex2-1. fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [61]:
# ex3.3이상의 요소들의 제곱을 추출
L = [1,2,3,4,5]
[l**2 for l in L if l>=3]

[9, 16, 25]

In [55]:
# ex4.리스트의 값이 두배로 추출
L = [1,2,3,4,5]
[l*2 for l in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기

In [62]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 22
numbers

[0, 1, 22, 3, 4, 5, 6, 7, 8, 9]

In [63]:
# 슬라이싱(step부분 미포함)을 이용하여 부분리스트를 통째로 수정
numbers[0:2] = ['xx','xx','xx','xx','xx','xx','xx','xx']
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 22, 3, 4, 5, 6, 7, 8, 9]

In [65]:
# 슬라이싱(step부분 포함)을 이용하여 부분 수정 (단 수정하는부분이 5개면 5개를 입력 해줘야함)
numbers = [0]*10
print('수정전 :', numbers)
numbers[::2] = [1,2,3,4,5]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [1, 0, 2, 0, 3, 0, 4, 0, 5, 0]

In [ ]:
# 수정하려는 요소 갯수가 맞지 않으면 에러 발생
numbers[::2] = [1,2,3,4,5,6,7,8] # <<에러

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제 
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(data) : List 안에 Data 가 삭제 
- del 리스트변수[idx] : idx번재 요소가 삭제

In [68]:
numbers = [1,2,3,4,5]
print('삭제한 데이터 :', numbers.pop())

삭제한 데이터 : 5

In [69]:
numbers = [0,1,2,3,4,5]
numbers.remove(3) # remove() 는 반환값이 없고, 해당 데이터 삭제만 함
print(numbers)

[0, 1, 2, 4, 5]

In [70]:
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터는 없습니다')

해당 데이터는 없습니다

In [71]:
def safe_remove(lst, remove_item):
    if remove_item in lst:
        lst.remove(remove_item)
    else:
        print('해당 데이터는 없는 아이템 입니다')

In [72]:
safe_remove(numbers, 9)

해당 데이터는 없는 아이템 입니다

In [75]:
numbers = [0,1,2,3,4,5]
del numbers[2]
print('삭제 후 :', numbers)

삭제 후 : [0, 1, 3, 4, 5]

In [77]:
del numbers # 변수 삭제..

## 1.8 정렬하기

In [84]:
numbers = [9, 1, 6, 3, 96, 2]
numbers.sort() # numbers 자체가 정렬한 결과로 바뀜(기본은 오름차순으로 정렬)
numbers

[1, 2, 3, 6, 9, 96]

In [85]:
numbers = numbers[::-1] # 오름차순 결과를 내림차순으로 변경
numbers

[96, 9, 6, 3, 2, 1]

In [86]:
numbers.reverse() # 리스트를 역순으로 변경 하는 함수
numbers

[1, 2, 3, 6, 9, 96]

In [87]:
numbers.sort(reverse=True) # 내림차순 정렬
numbers

[96, 9, 6, 3, 2, 1]

## 1.9 리스트 복제

In [90]:
# 얕은 복사
numbers = [5, 6, 1, 9]
new_numbers = numbers 
new_numbers.sort()
print('원본 :', numbers)
print('정렬본 :', new_numbers)
print('원본 주소 :', id(numbers))
print('정렬본 주소 :', id(new_numbers))

원본 : [1, 5, 6, 9]
정렬본 : [1, 5, 6, 9]
원본 주소 : 3030730404352
정렬본 주소 : 3030730404352

In [91]:
# 깊은 복사 (복제)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
new_numbers.sort(reverse=True) #내림차순 정렬
print('numbers :', numbers)
print('new_numbers :', new_numbers)
print('numbers 주소 :', id(numbers))
print('new_numbers 주소 :', id(new_numbers))

numbers : [5, 6, 1, 9]
new_numbers : [9, 6, 5, 1]
numbers 주소 : 3030728886208
new_numbers 주소 : 3030730781760

In [93]:
city = ['서울', '부산', '대전', '대구', '인천', '광주', '제주']
temp = city.copy()
temp.sort()
print('정렬전 :', ' '.join(city))
print('정렬후 :', ','.join(temp))

정렬전 : 서울 부산 대전 대구 인천 광주 제주
정렬후 : 광주,대구,대전,부산,서울,인천,제주

# 2절 튜플
- 리스트([])와 오사하지만 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로 튜플에 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음
- () 이용해서 생성

In [94]:
city = ('서울', '부산', '인천', '울진')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '인천', '울진')

In [96]:
'->'.join(city)

'서울->부산->인천->울진'

In [98]:
l = ['서울']
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [99]:
city = ('서울') # 요소가 하나 있는 튜플(x)
print(type(city))
print(city)

<class 'str'>
서울

In [100]:
city = ('서울', )# 요소가 하나 있는 튜플(o)
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [ ]:
a, b = 10, 20
# (a, b) = (10, 20)

In [101]:
numbers = 1,2,3 #numbers = (1,2,3)
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 2, 3)

In [102]:
# numbers.remove(3) 수정하기 위한 함수는 제공되지 않음

In [103]:
min(numbers), max(numbers), len(numbers)

(1, 3, 3)

In [104]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2)

2

In [106]:
numbers[0:3]

(0, 1, 2)

In [107]:
numbers.index(2) # 처음부터 2가 있는 곳의 index

2

In [108]:
numbers.index(2, 3) #3번째 부터 2가 나오는 index

6

In [109]:
# numbers 안에 9 요소가 있는 여부
print(numbers.count(9))
print(9 in numbers)

0
False

In [110]:
def safe_index(lst, item):
    if item in lst:
        return lst.index(item)
    else:
        return -1
def safe_index(lst, item):
    return lst.index(item) if item in lst else -1

In [111]:
safe_index(numbers, 9)

-1

In [112]:
numbers = (1, 2, 3)
numbers + numbers # 더하기를 하면 연결

(1, 2, 3, 1, 2, 3)

In [113]:
numbers * 3 # 곱하기를 하면 반복

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [114]:
# ex. 짝수 요소들을 추출하여 제곱한 리스트를 출력하시오
numbers = (1, 2, 3, 4, 5, 6)
[x**2 for x in numbers if x%2==0]

[4, 16, 36]

# 3절. 딕셔너리
cf. 자바에서의 hashMap
- 중괄호({})를 이용해서 딕셔너리 생성. 키(key)-값(value)쌍으로 구성된 자료구조
- 키는 유일한 값(중복허용안함). 키에 list는 사용불가. 키에 tuple은 사용 가능
- 값은 중복 가능. 모든 데이터 타입이 가능
- 인덱스를 이용한 참조는 지원 안함

In [115]:
dic = {'name':'홍길동', 1:22, (1,2):[1,2]}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [116]:
len(dic) # 데이터 요소 갯수

3

In [117]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [118]:
my_favorite['fruit']

'apple'

In [119]:
my_favorite.get('fruit')

'apple'

In [120]:
# print(my_favorite['people']) # 키목록에 없는 데이터를 인덱스로 참조시 에러
print(my_favorite.get('people'))# 없는 키를 get함수로 참조시 None 으로 출력

None

In [123]:
# 딕셔너리 수정
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite['fruit'] = 'mango'
print('fruit 수정 후 :', my_favorite)
my_favorite['people'] = '김형진'
print('people 키 추가 후 :', my_favorite)
print('데이터 갯수 :', len(my_favorite))
# del my_favorite['sport'] 
#del(my_favorite['sport'])
my_favorite.pop('sport')
print('sport 제거 후 :', my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
people 키 추가 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '김형진'}

In [124]:
# for문을 이용한 튜플 출력
my_tuple = ('김형진', 30, '010-5659-3068')

In [128]:
for data in my_tuple:
    print(data, end='\t')
print()
for idx in range(len(my_tuple)):
    print("{}번째 : {}\t".format(idx, my_tuple[idx]), end="")
print()
for idx, value in enumerate(my_tuple):
    print('{}번째 : {}'.format(idx,value), end="\t")

김형진	30	010-5659-3068
0번째 : 김형진	1번째 : 30	2번째 : 010-5659-3068
0번째 : 김형진	1번째 : 30	2번째 : 010-5659-3068

In [130]:
# for문을 이용한 딕셔너리 출력
my_dic = {'name':'김형진', 'age':30, 'tel':'010-5659-3068'}

In [134]:
# 사용을 권하지 않음
for key in my_dic:
    print("{}:{}".format(key, my_dic[key]), end='\t')

name:김형진	age:30	tel:010-5659-3068

In [135]:
# 딕셔너리에서는 enumerate 사용에 의미가 없음
for idx, value in enumerate(my_dic):
    print('{} : {}'.format(idx, value))

0 : name
1 : age
2 : tel

In [136]:
my_dic.keys() # 키 목록

dict_keys(['name', 'age', 'tel'])

In [137]:
my_dic.values() # 값들의 목록

dict_values(['김형진', 30, '010-5659-3068'])

In [138]:
my_dic.items() # 키,값 의 목록

dict_items([('name', '김형진'), ('age', 30), ('tel', '010-5659-3068')])

In [139]:
for value in my_dic.values():
    print(value, end='\t')

김형진	30	010-5659-3068

In [142]:
# 강추??....
for key, value in my_dic.items():
    print("{} : {}\t".format(key,value), end='')

name : 김형진	age : 30	tel : 010-5659-3068

In [143]:
# in 연산자
t = (10, 20 ,30)
30 in t
# list, tuple, set에서의 in연산자는 요소가 있는 여부를 반환

True

In [144]:
my_dic = {'name':'김형진', 'age':30, 'tel':'010-5659-3068'}
'name' in my_dic
# 딕셔너리에서의 in 연산자는 키가 있는 여부 반환

True

In [145]:
'홍길동' in my_dic

False

In [147]:
# 얕은 복사
my_favorite = {'fruit':'apple','number':12}
new_favorite = my_favorite # 얕은 복사(할당)
print("my_favorite 주소", id(my_favorite))
print("new_favorite 주소", id(new_favorite))

my_favorite 주소 3030729302016
new_favorite 주소 3030729302016

In [150]:
new_favorite['fruit'] = '과일 맛있다'
new_favorite['people'] = '홍홍홍'
print(my_favorite)
print(new_favorite)

{'fruit': '과일 맛있다', 'number': 12, 'people': '홍홍홍'}
{'fruit': '과일 맛있다', 'number': 12, 'people': '홍홍홍'}

In [151]:
# 깊은 복사
my_favorite = {'fruit':'apple','number':12}
new_favorite = my_favorite.copy() # 깊은 복사(복제)
print("my_favorite 주소", id(my_favorite))
print("new_favorite 주소", id(new_favorite))

my_favorite 주소 3030730499840
new_favorite 주소 3030730500224

In [152]:
new_favorite['fruit'] = '과일 맛있다'
new_favorite['people'] = '홍홍홍'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12}
{'fruit': '과일 맛있다', 'number': 12, 'people': '홍홍홍'}

# 4절 . 셋
- 중복을 허용하지 않는 집합(순서x)
- 중괄호 ({})나 set()함수를 이용해서 셋 생성 : set([1,2]), set({'name':'홍'})
- 추가 : add(), update()
- 집합연산자 : &교집합, |합집합, -차집합
- 삭제 : remove()

In [3]:
fruits = {'banana', 'orange', 'apple', 'apple' }
fruits

{'apple', 'banana', 'orange'}

In [2]:
s1 = set([1, 2, 3, 1])
s1

{1, 2, 3}

In [4]:
s2 = set((1, 2, 3, 1))
s2

{1, 2, 3}

In [5]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할때는 key만 적용
s3 = set({'name':'홍', 'age':32, 'add':'서울'})
s3

{'add', 'age', 'name'}

##  4-1추가하기
- add() : 기본자료형, 튜플 데이터 하나 추가. list, dic, set유형은 add()함수를 사용 불가
- update() : 리스트, 튜플, 딕셔너리, 셋 요소를 하나씩 따로 추가. dic사용시 key만 적용
     - cf. list의 extend()

In [7]:
s2.add(4)
s2.add(5)
s2.add((6, 7, 8))
s2

{(6, 7, 8), 1, 2, 3, 4, 5}

In [8]:
s2.add(0)
s2

{(6, 7, 8), 0, 1, 2, 3, 4, 5}

In [10]:
s2 = {1,2,3}
s2.add(False)
s2

{False, 1, 2, 3}

In [11]:
s2.add(True)
s2

{False, 1, 2, 3}

### update

In [12]:
s2.update((4,5,6))
s2

{False, 1, 2, 3, 4, 5, 6}

In [14]:
s2.update({'name':'홍', 'age':30}) # 딕셔너리는 키값만 추가 됨
s2

{1, 2, 3, 4, 5, 6, False, 'age', 'name'}

### 삭제 : remove()

In [15]:
s1 = {1, 2, 3, 4, 1, 1}
s1

{1, 2, 3, 4}

In [17]:
if 9 in s1:
    s1.remove(9)
else:
    print('없는 요소')

없는 요소

In [19]:
def safe_remove(data, remove_item): # data : List, set
    if remove_item in data:
        data.remove(remove_item)
    else:
        print('해당 데이터는 없는 아이템 입니다')

In [20]:
safe_remove(s1, 9)

해당 데이터는 없는 아이템 입니다

In [21]:
s1

{1, 2, 3, 4}

In [22]:
# 논리값 False는 0으로도 삭제 할수 있고 , True는 1로 삭제할수 있습니다
# 논리값 0는 False으로도 삭제 할수 있고 , 1는 True로 삭제할수 있습니다
s1.remove(True)
s1

{2, 3, 4}

## 4-2 합집합(|), 교집합(&), 차집합(-)

In [25]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print('s1 =', s1)
print('s2 =', s2)
print('s1|s2 =', s1|s2) #  &, | : 집합연산자, 논리연산자, 비트연산자
print('s1&s2 =', s1&s2)
print('s1-s2 =', s1-s2)

s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
s1|s2 = {1, 2, 3, 4, 5, 6, 7}
s1&s2 = {3, 4, 5}
s1-s2 = {1, 2}

In [26]:
names = {'길자', '순자', '길동'}
print(names)

{'순자', '길동', '길자'}

In [27]:
for name in names:
    print(name, end='\t')

순자	길동	길자

# 5절. enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때 사용하는 함수 
- 리스트, 튜플, 셋(for문) 사용 가능함

In [29]:
list(enumerate(names))

[(0, '순자'), (1, '길동'), (2, '길자')]

In [30]:
for no, name in enumerate(names):
    print("{}.{}".format(no, name), end="\t")

0.순자	1.길동	2.길자

In [31]:
names = ['순자', '길동', '길자']

for idx, name in enumerate(names):
    print("{}.{}".format(idx+1, name), end="\t")

1.순자	2.길동	3.길자

In [35]:
names = ['순자', '길동', '길자']
tels = ['010-9999-9999', '010-1351-4563', '010-5431-7451']
adds = ['서울', '인천', '판교']

for idx in range(len(names)):
    print("{}.{}의 연락처는 {}이고 {} 살아요".format(idx+1, names[idx], tels[idx], adds[idx]))

1.순자의 연락처는 010-9999-9999이고 서울 살아요
2.길동의 연락처는 010-1351-4563이고 인천 살아요
3.길자의 연락처는 010-5431-7451이고 판교 살아요

In [40]:
my_dic = {'name':'홍', 'age':33, 'adds':'신림'}
for data in my_dic.values(): # value 값들만 추출
    print(data)
for key, value in my_dic.items(): # key, value 값 추출
    print("{}.{}".format(key, value), end="\t")

홍
33
신림
name.홍	age.33	adds.신림

In [42]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍')), (1, ('age', 33)), (2, ('adds', '신림'))]

In [43]:
for idx, (key, value) in enumerate(my_dic.items()):
    print("{}.{} : {}".format(idx+1 , key, value))

1.name : 홍
2.age : 33
3.adds : 신림

In [45]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
#1
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [49]:
#2
numbers.extend([200,300,400,500])
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500, 200, 300, 400, 500]

In [56]:
#3
print(numbers[:5])

[1, 2, 3, 4, 5]

In [59]:
#4
[data for data in numbers if data%2==0]

[2, 4, 6, 8, 10, 100, 200, 300, 400, 500, 200, 300, 400, 500]

In [68]:
#5
for i in range(1, len(numbers), 2):
    numbers[i] = 0

numbers

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 100, 0, 300, 0, 500, 0, 300, 0, 500]

In [69]:
#6
numbers.reverse()
numbers

[500, 0, 300, 0, 500, 0, 300, 0, 100, 0, 9, 0, 7, 0, 5, 0, 3, 0, 1]

In [77]:
member_info={"name":"홍길동", "age":20, "address":"서울시 마포구", "score":90}

In [100]:
#7
print("address:", member_info["address"])
print("7번결과 :", member_info.get('address'))

address: 서울시 서대문구
7번결과 : 서울시 서대문구

In [79]:
#8
print("score:", member_info["score"])
del member_info["score"]

score: 90

In [82]:
#9
member_info["address"] = "서울시 서대문구"
print(member_info)

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [80]:
#10
list(enumerate(member_info))

[(0, 'name'), (1, 'age'), (2, 'address')]

In [ ]:
# 서술형
# 1번  orange , banana
# 2번  2번 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
# 3번  1
# 4번  extend 
# 5번 [0, 1, 0, 3, 0, 5, 0, 7, 0, 9]
# 6번 [5, 1, 6, 3, 7, 5, 8, 7, 9, 9]
# 7번 [0, 1, 1, 3, 2, 5, 3, 7, 4, 9]
# 8번 5번이요
# 9번 순서대로 apple banana orange 가 나옵니다
# 10번  3
# 11번 def