# 연습문제

In [2]:
# 1.이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화 하세요
# '홍길동'님의 나이는 23살 입니다.
name = '홍길동'
age = 23
print('{}님의 나이는 {}살 입니다.'.format(name, age))

홍길동님의 나이는 23살 입니다.

In [15]:
# 2.두 정수를 입력받아 두 수의 덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지 값을 출력하시오
num1 = int(input("첫번째 정수 를 입력해주세요 :"))
num2 = int(input("두번째 정수 를 입력해주세요 :"))

print("더하기 = ", num1+num2)
print("뺄셈 = ", num1-num2)
print("곱셈 = ", num1**num2)
print("나눗셈 = ", num1/num2)
print("몫 = ", num1//num2)
print("나머지 값 =", num1%num2)
print("{}정수와 {}정수의 몫은 = {} 입니다".format(num1, num2, num1//num2))

첫번째 정수 를 입력해주세요 :8
두번째 정수 를 입력해주세요 :2
더하기 =  10
뺄셈 =  6
곱셈 =  64
나눗셈 =  4.0
몫 =  4
나머지 값 = 0
8정수와 2정수의 몫은 = 4 입니다

In [8]:
# 3.문자열의 분리하기와 합치기 기능을 이용하여 'Hello World'를 'World Hello'를 출력하시오
str = "Hello World"
splited_str = str.split()
print(splited_str[::-1])

['World', 'Hello']

In [10]:
# 4.x = 'abcdef'를 이용하여 'bcdefa'로 출력하시오
x = 'abcdef'
print(x[1:]+x[0])

bcdefa

In [11]:
# 5.x = 'abcdef'를 이용하여 'fedcba'로 출력하시오
print(x[::-1])

fedcba

In [12]:
# 6.섭씨온도로 입력받아 화씨 온도로 변환
c = int(input('섭씨 온도를 입력해주세요'))
f = (c*1.8)+32
print("섭씨 {}도는 화씨 {:.2f}도 입니다".format(c, f))

섭씨 온도를 입력해주세요24
섭씨 24도는 화씨 75.20입니다

In [ ]:
# 7.다음중 변수 선언으로 잘못된 것을 모두 고르시오
# ① for - 예약어로 변수 이름으로 사용 할수 없다 for는 반복문 의 예약어 이다
# ② 10th - 숫자로 시작하는 변수 이름은 사용할수 없다 반드시 문자나 _ 로 시작해야한다
# ③ Student.name - 객체나 클래스 속성에 접근할때 사용하는 형식으로 단독 변수 이름으로 사용할수없다
# ④ _1234 - 변수 사용 가능

In [17]:
# 8. 다음 출력 결과는
text = "Seoul A001 - programming wiht python"
print(text[:4]+text[-1]+text.split()[0])
print(text[:4], text[-1], text.split()[0])

# text[:4] = Seou / [:4] 슬라이싱 을 이용한 문자열 일부 추출 
# text[-1] = n
# text.split()[0] Seoul

SeounSeoul
Seou n Seoul

In [ ]:
# 9. 파이썬 연산식과 그 결과의 출력이 잘못 된 것은?
# ① 수식 8//2 결과 4
# ② 수식 8/2 결과 4
# ③ 수식 8**2 결과 64

# 정답 2번 결과는 4.0 이다

In [ ]:
# 10. 해당 결과는 int와 str 으로 나눠져 있어서 하나의 값을 안바꾸면 에러가 난다
x = 5
y = "John"
print(x, y)

In [13]:
# 11.split()함수를 이용하여 str_갑 중 "나라" 를 출력하는 프로그램을 완성하시오
str_ = "우리 나라 대한 민국"
str_.split()[1]

'나라'

In [20]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 1.숫자 100을 맨뒤에 추가
numbers.append(100)
print("1번 결과 :", numbers)
# 2.다음 리스트를 numbers 리스트 맨뒤에 추가 [200, 300, 400, 500]
data = [200, 300, 400, 500]
numbers.extend(data)
print("2번 결과 :", numbers)
# 3.처음 다섯개 숫자만 출력
print("3번 결과 :", numbers[:5])
# 4.짝수번째 데이터만 출력
print("4번 결과 :", numbers[::2])
# 5.짝수번째 데이터를 모두 0으로 바꾸기
numbers[::2] = [0] * len(numbers[::2])
print("5번 결과 :", numbers)
# 6.데이터를 역순으로 나열
print("6번 결과 :", numbers[::-1])

1번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
2번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]
3번 결과 : [1, 2, 3, 4, 5]
4번 결과 : [1, 3, 5, 7, 9, 100, 300, 500]
5번 결과 : [0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]
6번 결과 : [0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [23]:
member = {'name':'홍길동',"age":20,"address":"서울시 마포구","score":90}
# 7. address값 출력
print("7번 결과 :", member.get('address'))
# 8.score를 출력 하고 딕셔너리에서 삭제 
print("score :", member.pop('score'))
print("8번 결과 :", member)
# 9.address 변경
member['address'] = "서울시 관악구"
print("9번 결과 :", member)
# 10.데이터 값만 리스트로 출력
print("10번 결과 :", list(member.values()))

7번 결과 : 서울시 마포구
score : 90
8번 결과 : {'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}
9번 결과 : {'name': '홍길동', 'age': 20, 'address': '서울시 관악구'}
10번 결과 : ['홍길동', 20, '서울시 관악구']

# 서술형 문제

In [ ]:
# 다음 코드 실행시 출력되는 결과물
L1 = ("orange","apple","banana","kiwi")
new_list = [i for i in L1 if len(i)>5]
print(new_list)
# 실행시 len(i)>5 이므로 orange, banana 만 출력된다

In [ ]:
# 실행결과가 잘못 짝지어진것 3번 10번부터 0번까지 -1 으로 [10,9,8,7,6,5,4,3,2,1,0] 이 정답
# print(list(range(10))) -> [0,1,2,3,4,5,6,7,8,9]
# print(list(range(5,10))) -> [5,6,7,8,9]
# print(list(range(10,0,-1))) -> [9,8,7,6,5,4,3,2,1,0]
# print(list(range(10,20,2))) -> [10,12,14,16,18]